// Home

$padding: 25px;
$font: helvetica;
$dark: rgba( 0, 0, 0, 1 );
$light: rgba( 0, 0, 0, .1 );
$white: rgba( 255, 255, 255, 1 );
$black: rgba( 0, 0, 0, 1 );
$vheight: 75vh;
$highlight: #f05e2b;

body,
html
{
    font-family: $font;

    width: 100%;
    height: 100%;

    background-color: #fff;
}


.page-title-and-image
{
    font-size: 28px;

    flex-direction: row;

    align-items: flex-end;
}

.mineral
{
    width: 80px;
    height: 100px;
    margin-left: 20px;

    background-image: url( 'images/mineral.svg' );
}
nav
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    padding: $padding;

    flex-flow: row;
    align-items: center;
    a
    {
        text-decoration: none;
    }
    h1
    {
        font-size: 20px;
        font-weight: 800;

        margin-right: auto;

        letter-spacing: .5px;
        // background: url( 'images/jujLogo.png' )no-repeat center center;
        // background-size: cover;

        color: white;
        // text-indent: -99999em;
    }
    ul
    {
        display: flex;

        margin-left: auto;

        flex-flow: row;
        li
        {
            margin-right: 15px;
        }
        a
        {
            font-weight: 100;

            text-decoration: none;
            letter-spacing: 1px;

            color: white;
        }
        a:hover
        {
            color: $dark;
            background-color: white;
        }
        li:last-child
        {
            margin-right: 0;
        }
    }
}

header
{
    display: flex;
    overflow: hidden;

    height: $vheight;

    background-color: $black;

    align-items: center;
    justify-content: center;
    h3,
    span
    {
        font-size: 64px;
        font-weight: bold;

        position: relative;
        z-index: 50;

        color: white;
    }
    h3
    {
        border-bottom: 1px solid $white;
    }
    span
    {
        font-size: 18px;
        font-weight: 100;

        margin-top: 5px;
        padding: 5px $padding;

        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .wrap
    {
        position: fixed;
        z-index: 50;
        top: calc(50% - 10vh);
        left: 50%;

        display: flex;

        width: 100%;

        transform: translate( -50%, -50% );

        align-items: center;
    }
    video
    {
        position: fixed;
        top: 50%;
        left: 50%;

        width: auto;
        min-width: 100%;
        height: auto;
        min-height: 100%;

        transform: translate( -50%, -50% );

        opacity: .5;
    }
}
h2
{
    font-size: 62px;
    font-weight: bold;

    display: none;

    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 3px;

    color: $light;
}

.work,
.experience,
.awards
{
    position: relative;
    z-index: 50;

    padding: 0 $padding;
    .wrap
    {
        width: 100%;
        max-width: 960px;
        margin: auto;
    }
    ul
    {
        display: flex;

        flex-flow: row;
        flex-wrap: wrap;
        li
        {
            width: calc( 100%/3 );
            min-height: 250px;
        }
    }
}

.work
{
    padding-top: 45px;

    border-top: 5px solid $white;
    background-color: $white;
    li
    {
        display: flex;

        cursor: hand;
        cursor: pointer;

        color: white;
        background-color: $dark;

        align-items: center;
        justify-content: center;

        p
        {
            transition: all 250ms ease-out;

            opacity: 0;
        }

        h3
        {
            font-size: 28px;
            font-weight: 800;

            transition: all 250ms ease-out;
            transform: translate( 0px, 5px );
            pointer-events: none;

            opacity: 0;
        }
    }
    li:hover
    {
        h3
        {
            transform: translate( 0px, 0px );

            opacity: 1;
        }

        p
        {
            opacity: 1;
        }

        .imdb-link
        {
            width: 20px;
            height: 20px;

            transform: translate( 0px, 3px );
            text-decoration: none;

            opacity: .6;
            color: white;
        }
        .imdb-link:hover
        {
            opacity: 1;
            color: rgba( 0, 0, 0, 1 );
            background-color: rgba( 255, 255, 255, 1 );
        }
        .video-link
        {
            height: 100%;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */

            background:    -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background:         linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            background-color: rgba( 0, 0, 0, .4 );

            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        }
    }
    *
    {
        position: relative;
        z-index: 50;
    }
    .video-link
    {
        position: absolute;
        z-index: 40;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        transition: all 250ms ease-out;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.01+100 */

        background:    -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.01) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.01) 100%); /* Chrome10-25,Safari5.1-6 */
        background:         linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#03000000',GradientType=0 ); /* IE6-9 */
    }
    .imdb-link
    {
        font-size: 12px;
        font-weight: 100;

        display: flex;

        width: 26px;
        height: 26px;
        padding: 5px;

        transition: all 250ms ease-out;
        transform: translate( 0px, 6px );
        text-decoration: none;

        opacity: 0;
        color: white;
        border: 1px solid rgba( 255, 255, 255, 1 );
        border-radius: 20px;

        align-items: center;
        justify-content: center;
    }
}

.awards
{
    padding: 100px $padding;

    background-color: white;

    flex-flow: column;
    ul
    {
        li
        {
            display: flex;

            width: calc( 100%/3 - (20px/3) );
            min-height: auto;
            padding: $padding $padding $padding 0;

            background-color: white;
        }
        li:nth-of-type(2)
        {
            margin: 0 10px;
        }
    }
    a
    {
        text-decoration: none;

        color: $dark;
    }
    a:hover
    {
        text-decoration: underline;

        color: $highlight;
        text-shadow: 0 2px 5px rgba( 0, 0, 0, .15 );
    }
    h3
    {
        margin-bottom: 15px;
    }
    .description
    {
        font-size: 12px;
        font-weight: 100;
        font-style: italic;
        line-height: 1.5em;

        margin-top: 5px;
        margin-bottom: 10px;
        padding-bottom: 10px;

        border-bottom: 1px solid rgba( 0, 0, 0, .05 );
    }
}
.experience
{
    background: url(images/clientsBg.jpg)no-repeat center center fixed;
    background-size: cover;
    li
    {
        display: flex;

        max-height: 200px;

        align-items: center;
        justify-content: center;
    }
    img
    {
        max-width: 150px;
        height: 100%;
    }
}
.contact
{
    position: relative;
    z-index: 100;

    background-color: $dark;
    .wrap
    {
        display: flex;

        max-width: 960px;
        margin: auto;
        padding: $padding;

        flex-flow: row;
        flex-wrap: wrap;
    }
    ul
    {
        display: flex;

        width: 50%;
        padding: 25px 0;

        flex-flow: column;
        li
        {
            font-size: 14px;
            font-weight: 100;

            display: inline;

            margin-bottom: 5px;

            color: white;
            a
            {
                font-weight: 100;

                display: inline-block;

                width: auto;

                text-decoration: none;

                color: white;
            }
            a:hover
            {
                color: $highlight;
            }
        }
        li:first-of-type
        {
            font-size: 14px;
            font-weight: bold;

            margin-right: 10px;
            margin-bottom: 15px;
            padding-bottom: 5px;

            border-bottom: 1px solid $white;
        }
    }
}

@media( max-width: 640px )
{
    .main
    {
        height: $vheight;

        flex-flow: column;
        > ul
        {
            margin-top: auto;
            margin-left: inherit;
        }
    }
    header
    {
        h3
        {
            font-size: 36px;
        }
    }
    .work,
    .experience,
    .awards
    {
        ul
        {
            li
            {
                width: 100%;
            }
        }
    }
    .awards
    {
        width: auto;

        text-align: center;
        .description
        {
            max-width: 80%;
            margin: 10px auto;
        }
    }
    .contact
    {
        ul
        {
            width: 100%;
            padding: 25px 50px;
        }
        ul:last-of-type
        {
            padding-top: 0;
        }
    }
}
